{% extends 'base.html' %}
{% block titlestyle %}
    <style>
        #footer {
            padding: 15px 0;
            background: #fff;
            border-top: 1px solid #ddd;
            text-align: center;
        }

        .seltype {
            position: absolute;
            margin-top: 70px;
            margin-left: 10px;
            color: red;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container theme-showcase" role="main">


    <div class="page-header">
        <h1>实名认证 - 账户类型选择</h1>
    </div>
    <div style="padding-top:10px;">
        <div class="row">
            <div class="col-xs-6 col-md-3">

                <h2>商业公司</h2>
                <a href="#" class="thumbnail">

                    <img alt="100%x180" src="../../static/img/services-box1.jpg" data-holder-rendered="true"
                         style="height: 180px; width: 100%; display: block;">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <h2>个体工商户</h2>
                <a href="#" class="thumbnail">
                    <img alt="100%x180" src="../../static/img/services-box2.jpg" data-holder-rendered="true"
                         style="height: 180px; width: 100%; display: block;">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <h2>个人经营</h2>
                <a href="#" class="thumbnail">
                    <img alt="100%x180" src="../../static/img/services-box3.jpg" data-holder-rendered="true"
                         style="height: 180px; width: 100%; display: block;">
                </a>
            </div>
            <div class="col-xs-6 col-md-3">
                <h2>政府及非营利组织</h2>
                <a href="#" class="thumbnail">
                    <img alt="100%x180" src="../../static/img/services-box4.jpg" data-holder-rendered="true"
                         style="height: 180px; width: 100%; display: block;">
                </a>
            </div>
        </div>
        <button type="button" class="btn btn-danger btn-lg btn-block"
                onclick="window.location.href='{% url 'user:userapply_one' %}'">认证申请
        </button>
    </div> <!-- /container -->
    <!-- /END THE FEATURETTES -->

{% endblock %}
{% block script %}
    <script src="../../static/jquery/jquery-2.1.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/script/docs.min.js"></script>
    <script>
        $(".thumbnail").click(function () {
            $('.seltype').remove();
            $(this).prepend('<div class="glyphicon glyphicon-ok seltype"></div>');
        });
    </script>
{% endblock %}